<!DOCTYPE html>
<html lang="en" ng-app="instangularApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <title>Instangular</title>
  <!-- angular -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
  <!-- angular-resource -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-resource.min.js"></script>
  <!-- custom script -->
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="InstaCtrl">
  {{insta}}

  <input type="text" ng-model="tag" name="search">
  <button ng-click="getGrams()">Search</button>
  <div><a href="/views/helmet360.html">HELMET</a></div>

	<div ng-repeat="photo in photos">
		<img ng-src="{{ photo.images.standard_resolution.url }}" alt="image">
	</div>







</body>
</html>